.sidebar {
    height: 100vh;
    padding-top: 20px;
  }
  
  .nav-link {
    position: relative;
  }
  
  .check-icon {
    margin-left: 10px;
    color: green;
  }
  
  .text-success {
    color: green !important;
  }
  
  .text-danger {
    color: red !important;
  }
  