.training-card {
    background-color: #ffffff;
    border-radius: 10px;
    border-top: 8px solid #6229cc;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.6);
    overflow: hidden;
    margin: 55px 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet de survol pour agrandir légèrement et accentuer l'ombre */
.training-card:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -6px -6px 10px rgba(255, 255, 255, 0.6);
}

.training-header h2 {
    color: #3a57e8;
    font-size: 1.75em;
    margin-bottom: 8px;
}

.slogan {
    color: #777;
    font-style: italic;
    font-size: 1em;
    margin-bottom: 16px;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f0f4ff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 45%;
}

.icon {
    font-size: 1.2em;
    color: #3a57e8;
}

.info-item p {
    color: #333;
    margin: 0;
    font-size: 0.9em;
}

.description h4 {
    font-size: 1.2em;
    color: #3a57e8;
    margin-bottom: 8px;
}

.description p {
    color: #555;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 16px;
}

/* Bouton Voir Détails */
.details-link {
    display: inline-block;
    padding: 10px 16px;
    background-color: #f0c758;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.details-link:hover {
    background-color: #12c556;
    color: white;
}
