/* payment-selection.component.css */
.payment-selection-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Hauteur minimale pour centrer le contenu */
  background-color: #f5f8fc;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 2rem;
}

.container {
  text-align: center;
  padding: 2rem;
  background-color: #fff; /* Fond blanc pour le conteneur */
  border-radius: 15px; /* Bords arrondis */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre plus prononcée */
  width: 100%;
  max-width: 600px; /* Limitation de la largeur pour le conteneur */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2c3e50; /* Couleur bleu foncé */
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #7f8c8d; /* Couleur gris */
}

/* Options de paiement */
.payment-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; /* Réduction de l'espace entre les cartes */
}

.payment-card {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(52, 152, 219, 0.1); /* Bleu léger pour le fond de la carte */
  border: 2px solid #3498db; /* Bord bleu pour le conteneur de paiement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.payment-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mobile-options {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-option {
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #f39c12; /* Jaune doré */
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour le bouton */
}

.mobile-option:hover {
  background-color: #e67e22; /* Teinte plus foncée de jaune doré */
}

a{
  cursor: pointer;
}