<div>
    <ng-container *ngIf="payment.openStripe">
      <div>
        <h1>PAYMENT</h1>
        <h2>All transactions are secure and encrypted</h2>
        <!-- Stripe -->
        <form id="payment-form" class="w-full">
          <div id="link-authentication-element">
            <!--Stripe.js injects the Link Authentication Element-->
          </div>
          <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
          </div>
          <button id="submit" (click)="makePayment()">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text"> Pay {{ payment.amount }} CAD </span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>
        <!-- Stripe -->
      </div>
    </ng-container>
    <ng-container *ngIf="payment.openSuccess">
      <div>
        <h1>Thank you successfully Paid</h1>
      </div>
    </ng-container>
  </div>