.edit-user-container {
  padding: 16px;
}

.loading-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Hauteur fixe pour éviter de déplacer les éléments */
  margin: 16px 0;
}
