<div class="container my-5">
    <!-- Plan Premium -->
    
    <div class=" col-md-4 ">
      <div class="card text-center shadow-sm">
        <div class="card-header bg-danger text-white">
          <h4 class="my-0">Premium</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">7.000 <small class="text-muted">/ mois</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
          <li>Accès à des tests d'orientation </li>
          <li>Accès aux webinaires sur les options d'études</li>
          <li>Consultations illimitées avec des conseillers</li>
          <li>Coaching personnalisé pour les admissions</li>
          <li>Accès aux événements de réseautage avec les écoles et les universités</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-danger">Souscrire</button>
    
    </div>
 
  </div>

</div>
