<mat-card class="cu-resource-card">
    <mat-toolbar color="primary" class="cu-resource-toolbar">
      {{ mode === 'create' ? 'Créer une Ressource' : 'Modifier la Ressource' }}
    </mat-toolbar>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cu-resource-form">
      <div *ngFor="let field of fieldsConfig" class="form-field">
        <!-- Text and Email Inputs -->
        <mat-form-field appearance="outline" *ngIf="field.type === 'text' || field.type === 'email'" class="full-width">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [type]="field.type" [formControlName]="field.name" />
          <mat-error *ngIf="form.get(field.name)?.hasError('required')">
            Ce champ est requis
          </mat-error>
          <mat-error *ngIf="form.get(field.name)?.hasError('email')">
            Adresse e-mail invalide
          </mat-error>
        </mat-form-field>
  
        <!-- Select Dropdown -->
        <mat-form-field appearance="outline" *ngIf="field.type === 'select'" class="full-width">
          <mat-label>{{ field.label }}</mat-label>
          <mat-select [formControlName]="field.name">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get(field.name)?.hasError('required')">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
  
        <!-- Textarea -->
        <mat-form-field appearance="outline" *ngIf="field.type === 'textarea'" class="full-width">
          <mat-label>{{ field.label }}</mat-label>
          <textarea matInput [formControlName]="field.name"></textarea>
          <mat-error *ngIf="form.get(field.name)?.hasError('required')">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          {{ mode === 'create' ? 'Créer' : 'Modifier' }}
        </button>
        <button mat-raised-button type="button" color="warn" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  </mat-card>
  