<!-- <form [formGroup]="paymentForm" (ngSubmit)="pay()">
    <div>
      <label for="phoneNumber">Numéro de téléphone</label>
      <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Entrez votre numéro de téléphone" />
    </div>
    
    <div>
      <label for="amount">Montant</label>
      <input id="amount" formControlName="amount" type="number" placeholder="Entrez le montant" />
    </div>
  
    <div>
      <button type="submit" [disabled]="loading || paymentForm.invalid">Payer</button>
    </div>
  
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
</form> -->