

    
           
    
    
    

    
    
    
  <body>
    
    <!-- Entête principale -->

            <nav class="navbar-light navbar-fixed-top bg-light  py-4">

                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <img src="assets/icon.png" alt="FuturAlliés Logo" routerLink='/acceuil' class="logo" height="50">
                     </li>
                  <li class="nav-item">
                    <a routerLink='/formation/acceuilFormation' class="nav-link Activate" >Domaine</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink='/formation/FormationPresentielle' class="nav-link" >Formation en presentiel</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink='/formation/certification' class="nav-link" >Certificat</a>
                  </li>
                  <li class="nav-item">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2 search-input" type="search" placeholder="RESEARCH UN COURS" aria-label="Search">
                    </form>
                  </li>
                  <li class="nav-item">
                    <a href="#trainers" class="nav-link" >Entreprises</a>
                  </li>

                  <li class="nav-item" style="padding-left: 30px;">
                    <a routerLink="/usersPages/login" class="btn btn-warning" >Se connecter</a>
                  </li>
                </ul>
              </nav>
            





      


          <section >
            <h2>Commencer le cours</h2>
            
             
                  <h5 *ngFor='let cour of coursFiltres' >{{cour.nom}}</h5>
              
          </section>

         
            
<div class='py-5' style='padding-left:650px;'>
          <div class="pagination">
            <a href="#prev">&laquo; Précédent</a>
            <a href="#next">Suivant &raquo;</a>
          </div>

</div>




<!--

<div class="col-md-3">                        
<h4 class="card-title">AUDIT ET GESTION DES RISQUES</h4>
<br/>
<p>Audit et commissariat aux comptes </p>
<p>Risk management </p>
<p>Cartographie des risques </p>            
</div>

<div class="col-md-3">                        
<h4 class="card-title">COMMUNICATION</h4>
<br/>
<p>Communication d'entreprise </p>
<p>Management de la qualité </p>
<p>La culture d’entreprise </p> 
<p>communication digitale </p>
<p>Digitalisation des entreprises  </p>
<p>Négocier dans un contexte pluriculturel </p>
<p>Collecte et analyse de données d’enquête par smartphone</p>
<p>Community manager </p>
<p>Gestion et administration de site web  </p>           
</div>



-->



<footer>
  <div class="footer-bottom" style='text-align: center'>
      <p>&copy; 2024 FuturAlliés. Tous droits réservés.</p>
  </div>
</footer>

</body>