.simple-link {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .simple-link:hover {
    text-decoration: underline;
  }
  
  .icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  