<mat-card class="details-container" [ngClass]="cssClasses.container">
  <mat-toolbar color="primary" class="details-toolbar">
    <!-- Bouton de retour -->
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Détails</span>
  </mat-toolbar>

  <div class="details-content">
    <!-- Tableau des champs en deux colonnes -->
    <div class="details-grid">
      <div
        *ngFor="let field of fieldsConfig"
        class="details-field"
        [ngClass]="cssClasses.field"
      >
        <div class="field-label">{{ field.label }}:</div>
        <div class="field-value" [ngSwitch]="field.type">
          <span *ngSwitchCase="'text'">{{ data[field.name] }}</span>
          <a *ngSwitchCase="'email'" [href]="'mailto:' + data[field.name]">
            {{ data[field.name] }}
          </a>
          <img *ngSwitchCase="'image'" [src]="data[field.name]" alt="{{ field.label }}" />
          <span *ngSwitchCase="'date'">{{ data[field.name] | date }}</span>
          <span *ngSwitchDefault>{{ data[field.name] }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Boutons d'action -->
  <div class="actions" [ngClass]="cssClasses.button">
    <button
      *ngFor="let action of actions"
      mat-raised-button
      color="primary"
      (click)="action.callback()"
    >
      <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
      {{ action.label }}
    </button>
  </div>
</mat-card>
