/* Styles de base pour la carte de l'offre */  
.offer-card {  
    background-color: #fff;  
    border-radius: 12px;  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
    padding: 24px;  
    margin: 16px 0;  
    border-top: 50px solid #2232be;   
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
    width: 100%;   
    display: flex;  
    flex-direction: column; /* Permet d'organiser les éléments en colonne */  
}  

/* Effet au survol */  
.offer-card:hover {  
    transform: translateY(-5px);  
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);  
}  

/* Styles pour le titre */  
.offer-card h2 {  
    color: #007bff;  
    font-size: 1.8em;  
    border-top: -40px;
    /* margin-bottom: 12px;   */
    font-weight: 600;  
}  

/* Styles pour les détails de l'offre */  
.offer-details {  
    display: grid; /* Utiliser grid pour un meilleur agencement */  
    grid-template-columns: 1fr 1fr; /* Deux colonnes pour exploiter l'espace */  
    gap: 12px; /* Espace entre les éléments */  
    font-size: 1em;  
    color: #444;  
    margin-bottom: 16px;  
}  

/* Styles pour chaque élément de détail */  
.detail-item {  
    display: flex;  
    justify-content: space-between;  
}  

/* Styles pour le lien de détails */  
.details-link {  
    display: inline-block;  
    padding: 12px 20px;  
    background-color: #d7ec76;  
    color: white;  
    text-align: center;  
    text-decoration: none;  
    border-radius: 10px;  
    border: solid;
    width: 150px;
    transition: background-color 0.3s ease, transform 0.2s ease;  
    font-weight: 500;  
}  

/* Effet au survol du lien */  
.details-link:hover {  
    background-color: #d4c817;  
    transform: scale(1.05);  
}