<mat-card class="generic-create-card">
  <mat-toolbar color="primary" class="generic-create-toolbar">
    <button mat-icon-button (click)="handleCancel()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    Créer un(e) {{ resource.model }}
  </mat-toolbar>

  <!-- Formulaire principal -->
  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="generic-create-form">
    <div class="form-field-container">
      <div *ngFor="let field of resourceFieldsToEdit" class="form-field">
        <mat-form-field appearance="outline" *ngIf="['text', 'email', 'password', 'phone', 'tel'].includes(field.type)">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [type]="field.type"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
          />
          <mat-error *ngIf="form.get(field.name)?.hasError('required')">{{field.errorMessage}}.</mat-error>
          <mat-error *ngIf="form.get(field.name)?.hasError('pattern')">{{field.errorMessage}}</mat-error>
          <mat-error *ngIf="form.get(field.name)?.hasError('email')">{{field.errorMessage}}.</mat-error>
          <mat-error *ngIf="form.get(field.name)?.hasError('minlength')">{{field.errorMessage}}.</mat-error>
        </mat-form-field>
        
        
        <mat-form-field appearance="outline" *ngIf="field.type === 'file'">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            type="file"
            (change)="handleFileInput($event, field.name)"
          />
        </mat-form-field>
      </div>

      <div class="actions">
        <button mat-raised-button color="warn" type="button" (click)="handleCancel()">
          Annuler
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isSubmitting">
          Créer
        </button>
      </div>
    </div>
  </form>
  
  <!-- Overlay pour le spinner -->
  <div *ngIf="isSubmitting" class="overlay">
    <mat-spinner diameter="50"></mat-spinner> <!-- Le spinner central -->
  </div>
</mat-card>
