<mat-nav-list>
  <ng-container *ngFor="let item of menuItems">
    <mat-list-item [routerLink]="item.route" *ngIf="!item.children">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </mat-list-item>

    <mat-expansion-panel *ngIf="item.children">
      <mat-expansion-panel-header>
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let child of item.children" [routerLink]="child.route">
          <mat-icon>{{ child.icon }}</mat-icon>
          <span>{{ child.label }}</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </ng-container>
</mat-nav-list>