<mat-nav-list>
  <ng-container *ngFor="let item of menuItems">
    <!-- Élément sans enfants -->
    <mat-list-item *ngIf="!item.children" [routerLink]="item.route || null">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </mat-list-item>

    <!-- Élément avec enfants -->
    <mat-expansion-panel *ngIf="item.children">
      <mat-expansion-panel-header>
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <ng-container *ngFor="let child of item.children">
          <!-- Sous-élément sans enfants -->
          <mat-list-item *ngIf="!child.children" [routerLink]="child.route || null">
            <mat-icon>{{ child.icon }}</mat-icon>
            <span>{{ child.label }}</span>
          </mat-list-item>

          <!-- Sous-élément avec enfants -->
          <mat-expansion-panel *ngIf="child.children">
            <mat-expansion-panel-header>
              <mat-icon>{{ child.icon }}</mat-icon>
              <span>{{ child.label }}</span>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item *ngFor="let subChild of child.children" [routerLink]="subChild.route || null">
                <mat-icon>{{ subChild.icon }}</mat-icon>
                <span>{{ subChild.label }}</span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-container>
      </mat-nav-list>
    </mat-expansion-panel>
  </ng-container>
</mat-nav-list>