mat-nav-list {
  padding: 0;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item:hover {
  background-color: #f5f5f5;
}

mat-icon {
  margin-right: 8px;
}

mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
}

mat-expansion-panel-header {
  padding: 0 16px;
}

mat-expansion-panel-header:hover {
  background-color: #f5f5f5;
}