.application-form-container {  
  display: flex;  
  justify-content: center;  
  margin: 16px;  
}  

.application-card {  
  background-color: white;  
  border-radius: 8px;  
  border-top: 50px solid #6229cc; /* Bordure haut blue */  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  
  padding: 24px;  
  width: 100%; /* Ou une largeur fixe selon votre design */  
  max-width: 600px; /* Limite la largeur pour les grands écrans */  
}  

.upload-card {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  justify-content: center;  
  width: 100px;  
  height: 100px;  
  border: 2px dashed #007bff;  
  border-radius: 8px;  
  cursor: pointer;  
  margin-bottom: 16px;  
  transition: background-color 0.3s;  
}  

.upload-card:hover {  
  background-color: rgba(0, 123, 255, 0.1);  
}  

.upload-icon {  
  font-size: 24px;  
}  

.doc-name {  
  margin-top: 8px;  
  font-weight: bold;  
}  

.hidden-docs {  
  display: none; /* Cacher les documents par défaut */  
}  

.form-group {  
  margin-bottom: 16px;  
}  

.form-control {  
  width: 100%;  
  padding: 10px;  
  border: 1px solid #ccc;  
  border-radius: 4px;  
}  

.btn-primary {  
  background-color: hsl(48, 100%, 50%);  
  color: #fff;  
  border: none;  
  border-radius: 4px;  
  padding: 10px 20px;  
  cursor: pointer;  
  transition: background-color 0.3s ease;  
}  

.btn-primary:hover {  
  background-color: #007bff;  
}  

.alert {  
  color: red;  
  margin-top: 4px;  
  font-size: 0.9em;  
}