.application-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centrage vertical */
  background-color: #f4f7fc; /* Fond légèrement gris */
}

.application-card {
  background-color: white;
  margin: 16px;
  border-radius: 8px;
  border-top: 50px solid #6229cc; /* Bordure du haut avec couleur attrayante */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); /* Ombre douce */
  padding: 24px;
  width: 100%;
  max-width: 700px;
  transition: transform 0.3s ease-in-out;
}

.application-card h1 {
  color: #6229cc;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 16px;
}

.application-card:hover {
  transform: translateY(-10px); /* Effet au survol */
}

.form-group {
  margin-bottom: 24px; /* Espacement entre les champs */
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Coins arrondis */
  font-size: 16px;
  color: #555;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #007bff; /* Couleur au focus */
  outline: none; /* Suppression de l'outline */
}

textarea.form-control {
  resize: none; /* Désactiver le redimensionnement */
}

.upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 2px dashed #007bff;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-card:hover {
  background-color: rgba(0, 123, 255, 0.1);
  transform: scale(1.05); /* Légère agrandissement */
}

.upload-icon {
  font-size: 28px;
  color: #007bff; /* Couleur de l'icône */
}

.doc-name {
  margin-top: 8px;
  font-weight: bold;
  color: #333; /* Couleur pour le texte */
}

.file-name {
  margin-top: 8px;
  font-style: italic;
  color: #007bff;
  display: inline-block;
}

.mat-progress-bar {
  margin-top: 8px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.mat-checkbox .mat-checkbox-inner-container {
  border-radius: 4px; /* Coins arrondis pour la case */
  border: 2px solid #007bff;
}

.mat-checkbox-checked .mat-checkbox-inner-container {
  background-color: #007bff;
  border-color: #007bff;
}

.mat-checkbox-checked .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(0, 123, 255, 0.3);
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px; /* Coins arrondis */
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

.alert {
  color: red;
  margin-top: 8px;
  font-size: 0.9em;
  text-align: center;
}
