
       
<div class="scrollable-background">
    <nav class="navbar navbar-scroll  changecolor2 navbar-expand-lg navbar-light" style='height:90px; background-color: white;' >
      <div class="container">
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/premiumEtudiant">Orientation</a>
              </li>  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink='/formation/contenu-libre'>Contenu libre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Certification</a>
              </li>

              
    <li class="nav-item ">
        <div  >
            <input class="form-control " type="search" placeholder="Rechercher..." aria-label="Search">
        </div>
      </li>
   

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Les statistiques de l'emploi</a>
              </li>



             
      
          </ul>
        </div>
        <ul class='navbar-nav' >
          <li class="nav-item ">
            <button class="btn btn-outline-secondary  " aria-current="page" href="#">Se connecter</button>
          </li>
            <li class="nav-item ">
              <button class="btn btn-outline-secondary  " aria-current="page" href="#">S'inscrire</button>
            </li>
         
        </ul>

    
    </div>

    </nav>

</div>