/* Styles de base pour la section de la liste des webinaires */
.webinar-list {
    background-color: #f9f9f9; /* Fond gris clair pour la liste */
    padding: 24px; /* Espacement interne */
    border-radius: 8px; /* Bords arrondis */
    margin: 16px; /* Espacement externe */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styles pour le titre de la liste */
.webinar-list h1 {
    color: #007bff; /* Couleur bleue pour le titre */
    text-align: center; /* Centrer le texte */
    margin-bottom: 24px; /* Espacement inférieur */
}

/* Styles pour chaque carte de webinaire */
.webinar-list > div {
    margin-bottom: 16px; /* Espacement entre les cartes */
}

/* Styles pour les cartes de webinaire */
.webinar-card {
    background-color: white; /* Fond blanc */
    border-radius: 8px; /* Bords arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 16px; /* Espacement interne */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour les effets */
}

/* Effet au survol de la carte de webinaire */
.webinar-card:hover {
    transform: translateY(-2px); /* Légère élévation au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
}

/* Styles pour les paragraphes dans la carte de webinaire */
.webinar-card p {
    color: #555; /* Couleur du texte */
    margin: 8px 0; /* Marges verticales */
}

/* Styles pour le lien de détails dans la carte */
.details-link {
    display: inline-block; /* Élément en bloc */
    margin-top: 12px; /* Espacement supérieur */
    color: #ffcc00; /* Couleur jaune doré */
    font-weight: bold; /* Texte en gras */
    text-decoration: none; /* Pas de soulignement */
    transition: color 0.3s ease; /* Transition pour la couleur */
}

/* Effet au survol du lien de détails */
.details-link:hover {
    color: #007bff; /* Changement de couleur au survol */
}

/* for spinner */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pour centrer le spinner verticalement */
  }
  
  .loading-spinner p {
    font-size: 18px;
    color: #007bff; /* Couleur du texte ou du spinner */
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  