
<body>

<div class="align">
    <div class='container py-4'>
        <button routerLink="/gestionnaire/modules" class='container-l py-4'>
           Contenus libres
        </button>

    </div>
    <div class='container py-4'>
        <button class='container-ll py-4'>
            Formation presentielle
        </button>
    </div>
    
    <div class='container py-4'>
        <button  class='container-lll py-4'>
            Certification
        </button>
    </div>
        
        
    </div>



</body>