<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <app-menu />
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Header -->
      <mat-toolbar class="main-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav" matTooltip="Ouvrir le menu">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <app-breadcrumbs /> -->
      </mat-toolbar>
      <!-- Content Section -->
      <div class="content">
        <router-outlet></router-outlet> <!-- Affiche les routes enfants ici -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  