.sidenav-container {
    height: 100vh;
    display: flex;
  }

  .mat-toolbar {
    padding-top: 15px;
    background: #f4f4f4;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .sidenav {
    min-width: 300px;
    height: 100vh;
    background: #f4f4f4;
  }

  .content {
    padding: 16px;
  }
  
  .mat-sidenav {
    width: 250px;
  }
  
  .mat-sidenav-content {
    flex: 1;
    overflow: auto;
  }
  
  