.credit-form{
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}

.full-width{
    width: 100%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .card-infos-container{

        display: flex;

        .date-container{
            display: flex;
            flex-direction: column;
            width: 47%;

            .date{

                display: flex;
                gap: 1rem;
                width: 100%;

                mat-form-field{
                    width: 40%;
                }
            }
        }
    }

    button{
        height: 50px;
    }
}

app-thanks{
    width: 40%;
}

@media screen and (max-width: 768px){

    app-thanks{
        width: 90%;
    }
}



/* Pour utiliser des couleurs, nous définissons des variables CSS dans :root */
:root {
    --color-50: #ffffff;
    --color-100: #dedddf;
    --color-200: #8e8593;
    --color-500: #21092f;
    --color-700: #ff5252;

    --contrast-50: #000000;
    --contrast-100: #000000;
    --contrast-200: #000000;
    --contrast-300: #ffffff;
    --contrast-400: #ffffff;
    --contrast-500: #ffffff;
    --contrast-600: #ffffff;
    --contrast-700: #ffffff;
    --contrast-800: #ffffff;
    --contrast-900: #ffffff;
    --contrast-A100: #000000;
    --contrast-A200: #ffffff;
    --contrast-A400: #ffffff;
    --contrast-A700: #ffffff;

    /* Couleurs principales pour le thème */
    --primary-color: var(--color-50);
    --accent-color: var(--color-500);
    --warn-color: var(--color-700);
}

/* Styles globaux */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Vous devrez ajouter ici des styles spécifiques pour les composants Angular Material que vous utilisez,
   car le mixin `@include mat.all-component-themes($interactive-card-theme);` ne peut pas être traduit directement en CSS. */

